.App {
    text-align: center;
    height: 100vh;
}

.ant-layout-sider-children {
    height: 100vh;
    background-color: #E43F5A;
}

.ant-layout-header {
    width: 100%;
    /* background-color: #17141d; */
    background-color: rgba(18, 18, 18, 1);
    filter: brightness(1.5);
    box-shadow: 1rem 0 2rem #000;
}

.ant-layout-content {
    height: 100%;
    background-color: #121212;
    display: grid;
    grid-template-columns: repeat(4, 20em);
    justify-content: center;
    /* max-width: 500px; */
}

.search {
    width: 200px;
    height: 200px;
}

::placeholder {
    font-size: 20px;
}